<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" >My Photo Album</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
    <ion-col size-xl='4' size-lg='4' size-md='6' size-md='6' size='12'>
      <ion-card class="ion-text-center"> 
        <img src="https://picsum.photos/id/237/200/300"/>
        <ion-card-header>
          <ion-card-subtitle class='ion-text-right'>Lorem Ipsum</ion-card-subtitle>
          <ion-card-title class='ion-text-right'>Mi Perrete Rete</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-xl='4' size-lg='4' size-md='6' size-md='6' size='12'>
      <ion-card class="ion-text-center"> 
      <img src="https://picsum.photos/seed/picsum/200/300
"/>
      <ion-card-header>
        <ion-card-subtitle>Lorem Ipsum</ion-card-subtitle>
        <ion-card-title>Vacaciones frente al mar</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      </ion-card-content>
    </ion-card>
    </ion-col>
    <ion-col size-xl='4' size-lg='4' size-md='6' size-md='6' size='12'>
      <ion-card class="ion-text-center"> 
        <img src='https://picsum.photos/200/300/?blur'
        />
        <ion-card-header>
          <ion-card-subtitle>Lorem Ipsum</ion-card-subtitle>
          <ion-card-title>Ventana  Indiscreta</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
    </ion-grid>
    </ion-content>
